/* -------------------------- */
/* Container for buttons */
/* -------------------------- */

.mb-buttons {
	display: flex;
	flex-wrap: wrap;
	max-width: 100%;
}

.mb-layout-row {
	flex-direction: row;
}

.mb-layout-column {
	flex-direction: column;
}

/* -------------------------- */
/* Button */
/* -------------------------- */

.mb-button {
	display: flex;
	max-width: 100%;
	border-radius: 10px;
	padding: 10px;
	margin: 5px;
}

/* -------------------------- */
/* Button content*/
/* -------------------------- */

.mb-icon-before {
	margin: auto 0px auto auto;
}

.mb-icon-after {
	margin: auto auto auto 0px;
}

.mb-image {
	width: 50px;
	height: 35px;
}

.mb-title {
	margin: auto;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.mb-title-after {
	margin: auto auto auto 0;
}

.mb-title-before {
	margin: auto 0 auto auto;
}