.mb-btn-group {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: auto;
}

.mb-btn-container {

	max-width: 100%;
	height: auto;
	margin: 5px;
}

.mb-btn-preset {
	display: flex;
	margin: auto;
	max-width: 100%;
	width: 150px;
	height: 80px;
	border-radius: 10px;
	background-color: #337ab7;
	padding: 10px;
}

.mb-img-preset {

	width: 50px;
	height: 35px;
	margin: auto 0px auto auto;
	border-radius: 10px;
}

.mb-icon-preset {

	margin: auto 0px auto auto;
	font-size: 22px;
}

.mb-title-preset {

	margin: auto auto auto 0px;
	font-size: 22px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #fff;

}

.mp-title-none-preset {

	margin: auto;
}